name: Deploy Next.js site to Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: |
          npm install --no-package-lock

      - name: Build website
        run: |
          npm run build
          touch out/.nojekyll

      - name: Copy CNAME file
        run: |
          cp public/CNAME out/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com 